<div class="col-sm-6">
    <div class="well col-md-3 todo">
        Task:
    </div>
    <div class="well col-md-3 todo animated fadeIn">
        <input type="text" class="form-control input-lg text-center" required placeholder="Todo text" ng-model="todo.text"> <br>
    </div>
</div>
<div class="well col-md-2 todo" >
    <!-- <div ng-if = "state=='user'"> -->
    <button type="submit" class="btn btn-primary btn-lg edit-button" ng-click="editingStart(todo._id)">Edit</button>
    <button type="submit" class="btn btn-danger btn-lg" ng-click="deleteTodo(todo._id)">Delete</button>
    <!-- </div>-->
    <button type="submit" class="btn btn-primary btn-lg back-button" ng-click="cancelAdd()">Back to List</button>
</div>

<div class="col-sm-6">
    <div class="well col-md-3 todo">
        About: <br>
    </div>
    <div class="well col-md-3 todo">
        <input type="text" class="form-control input-lg text-center animated fadeIn" required placeholder="Some description" ng-model="todo.about"> <br>
    </div>
</div>
<div class="col-sm-6">
    <div class="well col-md-3 todo">
        Money needed: <br>
    </div>
    <div class="well col-md-3 todo">
        <input type="number" class="form-control input-lg text-center animated fadeIn" min="0" required placeholder="Cost:" ng-model="todo.budget">$ <br>
    </div>
</div>
<div class="col-sm-6">
    <div class="well col-md-3 todo">
        Is card used: <br>
    </div>
    <div class="well col-md-3 todo">
        <div ng-if = "todo.budget>0">
        <input type="checkbox" class="form-control input-lg text-center animated fadeIn" ng-model="todo.onCard">
        </div>
        <div ng-if = "todo.budget<1 ||  todo.budget===undefined">
            <input type="checkbox" class="form-control input-lg text-center animated fadeIn" disabled="" ng-model="todo.onCard=0">
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="well col-md-3 todo">
        How important it is: <br>
    </div>
    <div class="well col-md-3 todo">
        <input type="number" class="form-control input-lg text-center animated fadeIn" required min="0" max="10" placeholder="Importance" ng-model="todo.importance">
        <br>
    </div>
</div>
<div  class="col-sm-6">
    <div class="well col-md-3 todo">
        Address: <br>
    </div>
    <div class="well col-md-3 todo">
        <input type="text" class="form-control input-lg text-center animated fadeIn" required placeholder="Address" ng-model="todo.address">  <br>
    </div>
</div>
<div class="col-sm-6">
    <div class="well col-md-3 todo">
        Time needed: <br>
    </div>
    <div class="well col-md-3 todo">
        <input type="text" class="form-control input-lg text-center animated fadeIn" required placeholder="Time" ng-model="todo.time"> <br>
    </div>
</div>
<button type="submit" class="btn btn-primary btn-lg" ng-click="updateChangedTodo(todo)">Save Changes</button>