<button type="submit" class="btn btn-primary btn-lg back-button" ng-click="cancelAdd()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to List</button>
<div id="todo-change" class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <form name="answerForm">
            <div class="form-group">
                <div class = "col-md-8">
                    <i class="fa fa-file-text fa-6" aria-hidden="true"></i>
                    <!-- <div class="popup" ng-click='showAdvice()'>Text
                         <span class="popuptext">Specify it</span>
                    </div>-->
                        <input type="text" class="form-control input-lg text-center" required placeholder="Todo text" ng-model="todo.text">
                        <input textarea type="text" class="form-control md-textarea text-center" required placeholder="Some description" ng-model="todo.about"/>
                    <i class="fa fa-map-marker fa-3" aria-hidden="true"></i>
                    <div class="popup" ng-click='showAdvice()'>Address
                       <!-- <span class="popuptext">Specify it</span></div> -->
                    <input type="text" class="form-control input-lg text-center" required placeholder="Address" ng-model="todo.address">
                    <div class = "col-md-3">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        <label>Importance</label>
                        <input type="number" class="form-control input-lg text-center" required min="0" max="10" placeholder="Importance" ng-model="todo.importance">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <label>Time</label>
                        <input type="text" class="form-control input-lg text-center" required placeholder="Time" ng-model="todo.time">
                    </div>
                    <div class = "col-md-3">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <label>Price</label>
                        <input type="number" class="form-control input-lg text-center" min="0" required placeholder="Cost:" ng-model="todo.budget">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                        <label>Credit card</label>
                        <div ng-if = "todo.budget>0">
                        <input type="checkbox" class="form-control input-lg text-center" ng-model="todo.onCard">
                        </div>
                        <div ng-if = "todo.budget<1 ||  todo.budget===undefined">
                            <input type="checkbox" class="form-control input-lg  text-center" value="unchecked" disabled="" ng-model="todo.onCard=0">
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </form>
    </div>
    <div class="col-md-2 col-md-offset-8">
        <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo(answerForm)" >Create task</button>
    </div>
</div>