<h1 class="col-md-6">My Todo List
    <span class="label label-info badge-blue">{{ todos.length }}
    </span>
</h1>
<br/>
<div id="todo-list" class="row todo-list-style animated fadeIn col-md-8 col-md-offset-4">
    <div class="col-md-6">
            <div class="table-responsive-vertical shadow-z-1">
                <!-- Table starts here -->
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Importance</th>
                            <th>Time</th>
                            <th>Money</th>
                            <th>Done</th>
                        </tr>
                    </thead>
                        <tbody>
                                <tr ng-repeat="todo in todos">
                                    <td data-title="Name" class="todo-style" ng-click="openTodo(todo._id)">{{ todo.text }}</td>
                                    <td data-title="Description" class="todo-style" ng-click="openTodo(todo._id)">{{ todo.about }}</td>
                                    <td data-title="Importance" class="todo-style" ng-click="openTodo(todo._id)">{{ todo.importance }}</td>
                                    <td data-title="Time" class="todo-style" ng-click="openTodo(todo._id)">{{ todo.time }}</td>
                                    <td data-title="Money" class="todo-style" ng-click="openTodo(todo._id)">{{ todo.budget }}</td>
                                    <td data-title="Done" class="todo-style" ng-click="openTodo(todo._id)"> <button type="button" class="btn btn-danger btn-lg" ng-click="deleteTodo(todo._id)">Done</button></td>
                                </tr>
                        </tbody>
                </table>
        </div>

    </div>
</div>

<button type="submit" class="btn btn-primary btn-lg col-md-offset-8" ng-click="addingTodoPageClick()">
    <i class="fa fa-plus" aria-hidden="true"></i> Add todo
</button>


