<div class="col-sm-6">
    <div class="well col-md-3 todo">
        Task:
    </div>
    <div class="well col-md-3 todo animated fadeIn">
       {{ todo.text }} <br>
    </div>
</div>
<div class="well col-md-2 todo" >
    <!-- <div ng-if = "state=='user'"> -->
    <button type="submit" class="btn btn-primary btn-lg edit-button" ng-click="editingStart(todo._id)">Edit</button>
    <button type="submit" class="btn btn-danger btn-lg" ng-click="deleteTodo(todo._id)">Delete</button>
    <!-- </div>-->
    <button type="submit" class="btn btn-primary btn-lg back-button" ng-click="cancelAdd()">Back to List</button>
</div>

<div class="col-sm-6">
    <div class="well col-md-3 todo">
    About: <br>
        </div>
    <div class="well col-md-3 todo animated fadeIn">
        {{ todo.about }} <br>
        </div>
</div>
<div class="col-sm-6">
    <div class="well col-md-3 todo">
        Money needed: <br>
    </div>
    <div class="well col-md-3 todo animated fadeIn">
        {{ todo.budget }} $ <br>
    </div>
</div>
<div class="col-sm-6">
    <div class="well col-md-3 todo">
        Is card used: <br>
    </div>
    <div class="well col-md-3 todo animated fadeIn">
        <div ng-if = todo.onCard>
            Yes
        </div>
        <div ng-if = !todo.onCard>
            No
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="well col-md-3 todo">
       How important it is: <br>
    </div>
    <div class="well col-md-3 todo animated fadeIn">
        {{ todo.importance }}  <br>
    </div>
</div>
<div  class="col-sm-6">
    <div class="well col-md-3 todo">
       Address: <br>
    </div>
    <div class="well col-md-3 todo animated fadeIn">
        {{ todo.address }}  <br>
    </div>
</div>
<div class="col-sm-6">
    <div class="well col-md-3 todo">
        Time needed: <br>
    </div>
    <div class="well col-md-3 todo animated fadeIn">
        {{ todo.time }} <br>
    </div>
</div>
<div class="col-sm-6">
    <div class="well col-md-3 todo">
        User id for dev <br>
    </div>
    <div class="well col-md-3 todo animated fadeIn">
        {{ todo.user_id }} <br>
    </div>
</div>
