body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #fff4e0;
  background-color:#1a1a1a;
}

.todo {
  background-color:#fff4e0;
}

.back-button {
  background-color: #AA3939;
  border: 0
}

.back-button:hover
{
  background-color:#801515;
  border: 0
}

.edit-button {
  background-color: #34B027;
  border: 0
}

.edit-button:hover
{
  background-color:#0c7701;
  border:0
}

.todo-style {
  background-color: #fff4e0;
}

.todo-style:hover, .todo-style:active:focus, .todo-style:visited, .todo-style:link, .todo-style:focus   {
  background-color: #ffffe0;
  cursor: pointer;
}

.todo-list-style {
  list-style: square outside;
  padding-left: 15%;
}

.todo-common{
  /*border: 20px white double;

   */
}

.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
  background-color: #1a1a1a;
}

.footer{
  overflow:auto;
}

.col-sm-6{
  display:inline-block;
}
.right{
  right:0;
  text-align: right;
  margin-bottom: 10%;
}


html,
body,
.view {
  height: 100%;
}

.view {
  background: url("https://mdbootstrap.com/images/regular/city/img%20(14).jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
