<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="appTodo">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Todo App</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.10/angular.min.js"></script><!-- load angular -->
    <script src="https://use.fontawesome.com/635678fafb.js"></script>
    <script src="js/core.js"></script>
    <script src="js/controllers/main.js"></script>
    <script src="js/services/todos.js"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">

</head>
<body ng-controller="mainController">
<div class="col-md-8 col-md-offset-4">
    <p class="navbar-text navbar-right"><a href="https://bitbucket.org/alexeydotzavoykin/taxidata" class="navbar-link"> Improve this app! </a></p>
    <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link"> {{username}} </a></p>
    <p class="navbar-text navbar-right"><a href="/signout"  class="navbar-link">Sign Out</a></p>
</div>

<div  ng-switch on = "selection">
        <div ng-switch-when = "todoPage">
            <div ng-include="'templates/todoList.html'">
            </div>
        </div>
        <div ng-switch-when = "addingTodoPage">
            <div ng-include="'templates/todoEditingPage.html'">
            </div>
        </div>
        <div ng-switch-when = "editingTodoPage">
            <div ng-include="'templates/todoInspectionPage.html'">
            </div>
        </div>
        <div ng-switch-when = "todoIsEditing">
            <div ng-include="'templates/newEditingTemplate.html'">
            </div>
        </div>
</div>
    <div ng-switch-default>default
    </div>
</div>
</body>
</html>