<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Todo App</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">

</head>
<body>
<div class="view">
<!--Intro content-->
<div class="full-bg-img flex-center">
            <h1 class="text-center login-title">Registration Details
                <div class="register-wall">
                    <form action="/register" method="POST" class="form-signin">
                        <input type="text" name="username" placeholder="Username" required="required" autofocus="autofocus" class="form-control" ng-model="passport.username"/>
                        <input type="password" name="password" placeholder="Password" required="required" class="form-control nomargin" ng-model="passport.password"/>
                        <input type="email" name="email" placeholder="Email" required="required" class="form-control" ng-model="passport.email"/>
                        <input type="text" name="firstName" placeholder="First Name" required="required" class="form-control" ng-model="passport.firstName"/>
                        <input type="text" name="lastName" placeholder="Last Name" required="required" class="form-control" ng-model="passport.lastName" />
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button><span class="clearfix" ng-click="register(passport)" ></span>
                    </form>
                </div>
                <div><a class="text-center new-account" href="/login">Use existing account</a>
                </div>
            </h1>
</div>
</div>
</body>
</html>